<link rel="stylesheet" href="form.css">
<section style="padding: 20px; width: 50%;">
    <div>
        <form action="/employee/add_interview_to_cell" method="post">
    
            <label for="name">Company Name</label>
            <input type="text" id="fname" name="company_name" placeholder="Company name.." required>
        
            <label for="date">Date</label>
            <input type="date" name="date" style="margin: 0 10px;" required>
    
            <!-- <label for="batch">Batch</label>
            <input type="text" id="lname" name="batch" placeholder="Batch"  required> -->
            <input type="submit" value="Add Interview" style="display: block; margin: 2% 40%; padding: 10px 25px;">

        </form>
    </div>
</section>